
libs/Sketchup/win64/binaries/*
libs/Sketchup/win64/headers/*

**.DS_Store**
*.xcodeproj
*.xcworkspace
*.vcxproj
*.make
*.mk
*.filters
*.obj
*.tlog
*.pdb
*.lib
*.exp
*.ilk
*.log
*.suo
*.cache
*.idb
*.user
bin/*
obj/*
debug/*
*.dll
*.exe
*.opendb
*.db
*.sln
*.d
*.o
*.a
*.so
.vs 
*Makefile*
*.skb
*.log
**.vscode**

test_outputs/*
libs
premakescripts/obj
