[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "src/3rdparty/Radiance"]
	path = src/3rdparty/Radiance
	url = https://github.com/NREL/Radiance.git
[submodule "emp-doc"]
	path = emp-doc
	url = https://github.com/GroundhogLighting/emp-doc.git
[submodule "3rdparty/nvwa"]
	path = 3rdparty/nvwa
	url = https://github.com/adah1972/nvwa.git
