
libs/SketchUp/*

*.vcxproj
*.filters
*.obj
*.tlog
*.pdb
*.lib
*.exp
*.ilk
*.log
*.suo
*.cache
*.idb
*.user
bin/*
*.dll
*.exe
*.opendb
*.db
*.sln
*.d

*.o

*.a

*.so

.vs 

App/Makefile

Bin/Release/x64/

CLW/Makefile

Calc/Makefile

Gtest/Makefile

Makefile
